<div class="container">
    <app-title>Sign Up</app-title>
    <form [formGroup]='resetPasswordForm' (ngSubmit)='submit()'>
        <div class="mb-6">
            <label for="password" class="block mb-2 text-sm font-medium text-gray-500 dark:text-gray-300">Your old password</label>
            <input formControlName='password' type="password" id="password" class="bg-gray-50 border border-gray-300 text-gray-500 text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-full p-2.5 dark:bg-gray-500 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-green-500 dark:focus:border-green-500" required="">
            <p *ngIf="password.invalid && (password.dirty || password.touched)" class="mt-2 text-sm text-red-600 dark:text-red-500">
                Please provide a password.
            </p>
        </div>
        <div class="mb-6">
            <label for="newPassword" class="block mb-2 text-sm font-medium text-gray-500 dark:text-gray-300">Your new password</label>
            <input formControlName='newPassword' type="password" id="newPassword" class="bg-gray-50 border border-gray-300 text-gray-500 text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-full p-2.5 dark:bg-gray-500 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-green-500 dark:focus:border-green-500" required="">
            <p *ngIf="newPassword.invalid && (newPassword.dirty || newPassword.touched)" class="mt-2 text-sm text-red-600 dark:text-red-500">
                Please provide a password.
            </p>
        </div>
        <div class="mb-6">
            <label for="repeatPassword" class="block mb-2 text-sm font-medium text-gray-500 dark:text-gray-300">Your new password again</label>
            <input formControlName='repeatPassword' type="password" id="repeatPassword" class="bg-gray-50 border border-gray-300 text-gray-500 text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-full p-2.5 dark:bg-gray-500 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-green-500 dark:focus:border-green-500" required="">
            <p *ngIf="repeatPassword.invalid && (repeatPassword.dirty || repeatPassword.touched)" class="mt-2 text-sm text-red-600 dark:text-red-500">
                Please provide a password.
            </p>
        </div>
        <div class="flex items-start">
            <app-button theme="primary" [disabled]="resetPasswordForm.invalid">Reset Password</app-button>
            <app-button class='ml-5' routerLink='/auth/forgot-password' theme="light">Back</app-button>
        </div>
        
        <div class="mb-6">
            <p *ngIf="isInvalidPassword" class="mt-2 text-sm text-red-600 dark:text-red-500">
                Passwords doesn't match
            </p>
        </div>
    </form>
</div>
