<div class="container">
    <app-title>Sign Up</app-title>
    <form [formGroup]='registerForm' (ngSubmit)='submit()'>
        <div class="mb-6">
            <label for="name" class="block mb-2 text-sm font-medium text-gray-500 dark:text-gray-300">Your name</label>
            <input formControlName='name' type="name" id="name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-full p-2.5 dark:bg-gray-500 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-green-500 dark:focus:border-green-500" placeholder="John" required="">
            <p *ngIf="name.invalid && (name.dirty || name.touched)" class="mt-2 text-sm text-red-600 dark:text-red-500">
                Please provide a valid name.
            </p>
        </div>
        <div class="mb-6">
            <label for="email" class="block mb-2 text-sm font-medium text-gray-500 dark:text-gray-300">Your email</label>
            <input formControlName='email' type="email" id="email" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-full p-2.5 dark:bg-gray-500 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-green-500 dark:focus:border-green-500" placeholder="name@localhost.com" required="">
            <p *ngIf="email.invalid && (email.dirty || email.touched)" class="mt-2 text-sm text-red-600 dark:text-red-500">
                Please provide a valid email address.
            </p>
        </div>
        <div class="mb-6">
            <label for="password" class="block mb-2 text-sm font-medium text-gray-500 dark:text-gray-300">Your password</label>
            <input formControlName='password' type="password" id="password" class="bg-gray-50 border border-gray-300 text-gray-500 text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-full p-2.5 dark:bg-gray-500 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-green-500 dark:focus:border-green-500" required="">
            <p *ngIf="password.invalid && (password.dirty || password.touched)" class="mt-2 text-sm text-red-600 dark:text-red-500">
                Please provide a password.
            </p>
        </div>
        <div class="mb-6">
            <label for="repeatPassword" class="block mb-2 text-sm font-medium text-gray-500 dark:text-gray-300">Your password again</label>
            <input formControlName='repeatPassword' type="password" id="repeatPassword" class="bg-gray-50 border border-gray-300 text-gray-500 text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-full p-2.5 dark:bg-gray-500 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-green-500 dark:focus:border-green-500" required="">
            <p *ngIf="repeatPassword.invalid && (repeatPassword.dirty || repeatPassword.touched)" class="mt-2 text-sm text-red-600 dark:text-red-500">
                Please provide a password.
            </p>
        </div>
        <app-button theme="primary" [disabled]="registerForm.invalid">Sign Up</app-button>
        <div class="mb-6">
            <p *ngIf="isInvalidPassword" class="mt-2 text-sm text-red-600 dark:text-red-500">
                Passwords doesn't match
            </p>
        </div>
    </form>
</div>
