<div class="container">
    <app-title>Forgot Password</app-title>
    <form [formGroup]='loginForm' (ngSubmit)='submit()'>
        <div class="mb-6">
            <label for="email" class="block mb-2 text-sm font-medium text-gray-500 dark:text-gray-300">Your email</label>
            <input formControlName='email' type="email" id="email" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-full p-2.5 dark:bg-gray-500 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-green-500 dark:focus:border-green-500" placeholder="name@localhost.com" required="">
            <p *ngIf="email.invalid && (email.dirty || email.touched)" class="mt-2 text-sm text-red-600 dark:text-red-500">
                Please provide a valid email address.
            </p>
        </div>
        <div class="flex items-start">
            <app-button type='submit' theme="primary" [disabled]="loginForm.invalid">Next</app-button>
            <app-button class='ml-5' routerLink='/auth/login' theme="light">Back</app-button>
        </div>
        <div class="mb-6">
            <p *ngIf="isInvalidEmail" class="mt-2 text-sm text-red-600 dark:text-red-500">
                Provided email doesn't exist.
            </p>
        </div>
    </form>
</div>
