<div class="group">
    <div class="w-full aspect-w-1 aspect-h-1 bg-gray-200 rounded-lg overflow-hidden xl:aspect-w-7 xl:aspect-h-8">
      <img [src]="course.imageUrl" [alt]="course.title" class="w-max h-52 object-center object-cover group-hover:opacity-75 mx-auto">
    </div>
    <h3 class="my-4 text-xl text-gray-700">
      {{ course.title }}
    </h3>
    <div>
        <p>Progress</p>
        <div class="w-full bg-gray-700 rounded-full h-2.5">
            <div class="bg-green-500 h-2.5 rounded-full" [style]="'width: ' + course.progress + '%'"></div>
        </div>
    </div>
    
    <div class="mt-4">
        <app-button [routerLink]="['/dashboard/course', course.id]" theme='primary'>Continue</app-button>
    </div>
</div>